{% extends 'store/main.html' %}
{% load static %}
{% block content %}
    <div class="row">
        <div class="col-lg-6">
            <div class="shadow p-3 mb-5 bg-body-tertiary rounded" id="form-wrapper">
                <form id="form">
                    <div id="user-info" class="row">
                        <div class="form-field col-lg-6" >
							<input required class="form-control" type="text" name="name" placeholder="Name">
						</div>
						<div class="form-field col-lg-6">
							<input required class="form-control" type="email" name="email" placeholder="Email">
						</div>
                   
                    </div>
			<hr>
                    <div id="shipping-info" class="row" >
						<p>Shipping Information:</p>
						<hr>
						<div class="form-field col-lg-6">
							<input class="form-control" type="text" name="address" placeholder="Address">
						</div>
						<div class="form-field col-lg-6">
							<input class="form-control" type="text" name="city" placeholder="City">
						</div>
						<div class="form-field col-lg-6">
							<input class="form-control" type="text" name="state" placeholder="State">
						</div>
						<div class="form-field col-lg-6">
							<input class="form-control" type="text" name="zipcode" placeholder="Zip code">
						</div>
						<div class="form-field col-lg-6">
							<input class="form-control" type="text" name="country" placeholder="Country">
						</div>
                    </div>
                    <input style="margin-top: 20px; width: 100%;" id="form-button" class="btn btn-success btn-block" type="submit" value="Continue">
                </form>
            </div>
            <br>
            <div id="payment-info" class="shadow p-3 mb-5 bg-body-tertiary rounded hidden">
                Paypal Options
                <br>
                <hr>
                <button id="make-payment" class="btn btn-warning btn-block" style="width: 50%;">Make Payment</button>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="shadow p-3 mb-5 bg-body-tertiary rounded">
                <a href="{% url 'cart' %}" class="btn btn-outline-dark">
                    <i class="bi bi-arrow-left"></i> Back to cart
                </a>
                <hr>
                <h3>Order Summary</h3>
                <hr>
                {% for item in items %}
                <div class="cart-row">
                    <div style="flex:2"><img class="row-image" src="{{item.product.imageUrl}}" alt=""></div>
                    <div style="flex:2">{{item.product.name}}</div>
                    <div style="flex:1">${{item.product.price}}</div>
                    <div style="flex:1">x{{item.quantity}}</div>
                </div>
                <br>
                {% endfor %}
                <h5>Items: {{order.get_cart_items}}</h5>
                <h5>Total: ${{order.get_cart_total | floatformat:2}}</h5>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        var user = '{{user}}'
        var items = '{{cartItems}}'
        var shipping = '{{order.shipping}}'
        var total = '{{order.get_cart_total}}'

        if (shipping == 'False' && user != 'AnonymousUser'){
            document.getElementById('shipping-info').innerHTML = "";
        }

        if (user != 'AnonymousUser'){
            document.getElementById('user-info').innerHTML = "";
        }else if(items=='0'){
            document.getElementById('form-wrapper').classList.add('hidden')
        }
        if (shipping == 'False' && user != 'AnonymousUser' ){
            //hide entire form if user is logged in and shipping is false
            document.getElementById('form-wrapper').classList.add('hidden')
            //show payment if logged in user wants to buy item that does not require shipping
            document.getElementById('payment-info').classList.remove('hidden')
        }

        var form = document.getElementById('form')
        form.addEventListener('submit',function(e){
            e.preventDefault()
            console.log('Form Submitted...')
            document.getElementById('form-button').classList.add('hidden')
            document.getElementById('payment-info').classList.remove('hidden')
        })

        document.getElementById('make-payment').addEventListener('click',function(e){
            submitFormData()        
        })

        function submitFormData(){
            console.log('payment button clicked...')
            var userFormData = {
                'name':null,
                'email':null,
                'total':total,
            }
            var shippingInfo = {
                'address':null,
                'city':null,
                'state':null,
                'zipcode':null,
                'country':null,
            }

    
		shippingInfo.address = form.address.value
		shippingInfo.city = form.city.value
		shippingInfo.state = form.state.value
		shippingInfo.zipcode = form.zipcode.value
		shippingInfo.country = form.country.value
		    
                userFormData.name = form.name.value
                userFormData.email = form.email.value


            var url = '/process_order/'
            fetch(url,{
                method:'POST',
                headers:{
                    'Content-Type':'application/json',
                    'X-CSRFToken':csrftoken,
                },
                body:JSON.stringify({'form':userFormData,'shipping':shippingInfo})
            }).then((response)=>{
		    response.json()
	    })
            .then((data)=>{
                console.log('success:',data),
                alert('Transaction completed');
                window.location.href = "{% url 'store' %}"
            })
        }
    </script>
{% endblock content %}
