{% extends 'store/main.html' %}
{% load static %}
{% block content %}
<div class="container-sm shadow rounded " style="height: 300px;width: 400px;">
    <form id="form">
        <div class="form-field">
            <label for="emailadd" class="form-label">Email Address</label>
            <input type="email" name="emailadd" id="emailadd" required class="form-control">
        </div>
        <div class="form-field">
            <label for="password" class="form-label">password</label>
            <input type="password" name="password" id="password" required class="form-control">
        </div>
        <br>
        <input type="submit" class="btn btn-primary" value="Login">
    </form>
</div>
{% endblock content %}
